extends ../layout

block content 
  .container.w-50.mt-5.pt-5
    form(action="", method="post")
      .form-group 
        label(for="") Username 
        input#username(type="text", name="username" required).form-control
      .form-group 
        label(for="") Password 
        input#password(type="password", name="password" required).form-control
        input#r(type="checkbox", name="remember") 
        |  Remember Me?
      .form-group
        button.btn.btn-primary Submit
        br 
        a(href="/auth/register") Don't have an account?